
.navbar {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  padding: 10px 10%;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
  height: 40px;
  transition: transform 0.3s ease;
}

.navbar-logo:hover img {
  transform: scale(1.1);
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 20px;
  gap: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ddd;
}

.navbar-links-group {
  align-items: center;
  justify-content: center;
}

.navbar-actions {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar-links {
      flex-direction: column;
      gap: 10px;
  }
}
