/* General styles for the flex container */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: navajowhite; /* Amber background for the container */
}

/* Styling for the search box */
app-search-box {
  width: 100%;
  margin-bottom: 20px;
  /*background-color: #FFBF00; !* Amber background for the search box *!*/
  color: white; /* Ensure text is readable against the amber background */
}

/* Styling for the flex children */
.flex-child {
  flex: 1;
  min-width: 300px;
  margin-bottom: 20px;
}

/* Styling for the restaurant list */
.restaurant-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Styling for individual restaurants */
.restaurant {
  background-color: white; /* Amber background for each restaurant */
  padding: 20px;
  border-color: #e6b219;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.restaurant:hover {
  transform: translateY(-5px);
}

.restaurant h3,
.restaurant p {
  margin: 0;
  padding: 0;
  color: black; /* Ensure text is readable against the amber background */
}

/* Styling for the "See more" button */
.restaurant button {
  background-color: #FFBF00; /* Amber background for the button */
  color: white; /* Ensure text is readable against the amber background */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.restaurant button:hover {
  background-color: #e6b219; /* Slightly darker amber for hover effect */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-child {
    width: 100%;
    min-width: 100%;
  }
}
