
<div class="flex-container">
  <app-search-box class="search-box" (searchTerm)="searchRestaurants($event)"/>
  <div class="flex-child">
    <div class="restaurant-list">
      <div class="restaurant" *ngFor="let restaurant of restaurants" (click)="navigateToMenu(restaurant.restaurantId)">
        <h3>{{ restaurant.restaurantDetails.name }}</h3>
        <p>{{ restaurant.restaurantDetails.restaurantAddress }}</p>
        <button (click)="navigateToMenu(restaurant.restaurantId)">See more</button>
      </div>
    </div>
  </div>
  <div class="flex-child">
    <app-cart />
  </div>
</div>

